﻿@font-face {
    font-family: 'ROBOTO-MEDIUM';
    src: url('../fonts/ROBOTO-MEDIUM.TTF') format('truetype');
}


@font-face {
    font-family: 'INTRO-BOLD-ALT';
    src: url('../fonts/INTRO-BOLD-ALT.OTF') format('opentype');
}

@font-face {
    font-family: 'INTRO-BOOK';
    src: url('../fonts/INTRO-BOOK.OTF') format('opentype');
}

@font-face {
    font-family: 'INTRO-LIGHT';
    src: url('../fonts/INTRO-LIGHT.OTF') format('opentype');
}

@font-face {
    font-family: 'INTRO COND BLACK FREE';
    src: url('../fonts/INTRO COND BLACK FREE.OTF') format('opentype');
}

@font-face {
    font-family: 'INTRO_0';
    src: url('../fonts/INTRO_0.OTF') format('opentype');
}

@font-face {
    font-family: 'INTROREGULAR';
    src: url('../fonts/INTROREGULAR.TTF') format('truetype');
}

@font-face {
    font-family: 'INTROSEMIBOLDALT';
    src: url('../fonts/INTROSEMIBOLDALT.TTF') format('truetype');
}

p {
    font-family: 'INTROREGULAR';
}

.footer {
    background-image: url('../images/footerhome.png');
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*.topnav {
    overflow: hidden;
    border-radius: 35px;
    background-color: #ab204e;
    padding: 0px 30px;
    margin-top: 3%;
}
*/
.topheader {
    /*margin-top: 10px;*/
    margin-left: -7%;
    margin-right: -7%;
}

.contents {
    margin-top: 2px;
    background-image: url(../img/des.png);
    background-repeat: no-repeat;
    background-size: 39% 30%;
    background-position: left bottom;
}

.img-box img {
    width: 100%;
    height: 423px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.img-box p {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 50%;
    background: rgba(255,255,255,0.7);
    margin-bottom: 0px;
    color: #666666;
    font-size: 16px;
    /*height: 33%;*/
    padding: 4px 15px;
}

    .img-box p span {
        font-family: 'INTRO-BOOK';
        color: #000;
    }

.img-box {
    position: relative;
}

p.full {
    width: 100%;
}

p.big {
    /* position: absolute; */
    /* top: 200px; */
    /* right: 48%; */
    /* left: 36%; */
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999999;
    color: #fff;
    font-family: 'INTROREGULAR';
    font-size: 48px;
    text-align: center;
}

    p.big span {
        color: #fff;
        font-family: 'INTROSEMIBOLDALT';
        display: block;
    }

p.small {
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999999;
    text-align: center;
    font-family: 'INTRO-LIGHT';
    font-size: 24px;
    color: #fff;
}

.full-width-banner {
    position: relative;
}

    .full-width-banner img{
      width: 100%;
}
.new1 {
    float: right;
    border-right: 1px solid #fff;
    margin-top: 20px;
    position: relative;
    left: 15px;
}

.new2 {
    
    float: left;
    margin-top: 20px;
}

    .new1 p, .new2 p {
        margin-top: 15px;
        color: #fff;
        font-size: 14px;
        margin-right: 30px;
    }

        .new1 p span, .new2 p span {
            display: block;
            font-weight: 600;
        }

img.img-responsive.img-circle.img-thumbnail {
    float: left;
    margin: 0px 15px;
}

.news {
    background: linear-gradient(to right,#ab204e, #f79623);
       padding: 10px 0px 40px 0px;
}

    .news h4 {
        color: #fff;
        text-transform: capitalize;
        text-align: center;
    }

ul.social li {
    display: inline-block;
}

    ul.social li i {
        color: #fff;
        background: transparent;
    }

.subscribe {
    background-image: url("../img/bw.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    padding: 50px 20px;
}

.sub1 {
    text-align: center;
}

    .sub1 h4, .sub1 p {
        color: #fff;
        text-align: center;
            margin-bottom: 25px;
    }

form {
    display: table;
    margin: auto;
}

iframe#twitter-widget-0 {
    width: 92% !important;
    float: right;
}

.btn-group-lg > .btn, .btn-lg {
    padding: 10px 11px;
    font-size: 16px;
    line-height: 1.3333333;
    border-radius: 0px;
}

.btn-info {
    color: #fff;
    background-color: #ab204e;
    /* border-color: #ab204e; */
    border-radius: 0px 20px 20px 0px !important;
    border-right: 1px solid #ab204e;
    border-color: #ab204e;
}

ul.social li i.active {
    background: #fff;
    color: #2A98ED;
}

.timeline-Widget.timeline-Widget--edge {
    display: none;
}


/********************************************navbar styles*********************************************/

.nav-container {
    max-width: 1000px;
    margin: 0 auto;
}

nav {
    float: right;
    margin: 35px 0px;
    background: #A11D47;
    border-radius: 55px;
}

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        nav ul li {
            float: left;
            position: relative;
            padding: 9px 40px;
        }

            nav ul li a,
            nav ul li a:visited {
                display: block;
                padding: 0 13px;
                background: #A11D47;
                color: #ffffff;
                text-decoration: none;
                font-size: 19px;
                font-family: 'INTROREGULAR';
            }

                nav ul li a:hover,
                nav ul li a:visited:hover {
                    color: #F48D2F;
                }

                nav ul li a:not(:only-child):after,
                nav ul li a:visited:not(:only-child):after {
                    padding-left: 4px;
                    content: ' ▾';
                }

            nav ul li ul li {
                min-width: 190px;
            }

                nav ul li ul li a {
                    padding: 15px;
                    line-height: 20px;
                }

.nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #A11E47;
    height: 50px;
    width: 50px;
}

@media only screen and (max-width: 798px) {
    .nav-mobile {
        display: block;
        position: absolute;
        top: 0;
        right: -181px;
    }

    .reg {
        float: right;
        /* margin-top: 5%; */
        position: relative;
        top: -45px;
        right: -105px;
    }

    nav {
        width: 100%;
        padding: 0px 0 0px;
    }

        nav ul {
            display: none;
        }

            nav ul li {
                float: none;
            }

                nav ul li a {
                    padding: 15px;
                    line-height: 20px;
                }

                nav ul li ul li a {
                    padding-left: 30px;
                }

    .nav-dropdown {
        position: static;
    }
}

@media screen and (min-width: 799px) {
    .nav-list {
        display: block !important;
    }
}

#nav-toggle {
    position: absolute;
    left: 7px;
    top: 10px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}

    #nav-toggle span,
    #nav-toggle span:before,
    #nav-toggle span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 5px;
        width: 35px;
        background: #ffffff;
        position: absolute;
        display: block;
        content: '';
        transition: all 300ms ease-in-out;
    }

        #nav-toggle span:before {
            top: -10px;
        }

        #nav-toggle span:after {
            bottom: -10px;
        }

    #nav-toggle.active span {
        background-color: transparent;
    }

        #nav-toggle.active span:before, #nav-toggle.active span:after {
            top: 0;
        }

        #nav-toggle.active span:before {
            transform: rotate(45deg);
        }

        #nav-toggle.active span:after {
            transform: rotate(-45deg);
        }

article {

    margin: 0 auto;
    padding: 10px;
}

ul.nav-dropdown li {
    padding: 0px;
}


/********************************************navbar styles*********************************************/

/***********sidenave****************/

span.showhide {
    display: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ab1f4d;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: none;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: #fff;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #F69340;
        }


    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

.register {
    border-top: 1px solid #fff;
}

ul.section li a {
    font-size: 20px;
}
/***************************************media**********************************************************/
@media screen and (max-width:767px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

        .topnav.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }

    .price {
        padding: 7% 4%;
    }

    .topnav {
        overflow: hidden;
        border-radius: 0px;
        padding: 0px 0px;
        margin-top: 21%;
        width: 100%;
    }


    .white-box {
        width: 100%;
    }

    .img-box img {
        height: auto;
    }

    .img-box p {
        height: auto;
    }

    p.big {
        font-size: 14px;
    }

    p.small {
        font-size: 8px;
    }

  

    .new1, .new2 {
        width: 100%;
        border-right: 0px solid #fff;
        text-align: center;
    }
    .new1 {
 
    position: relative;
    left: 0px;
}
        .new1 p, .new2 p {
            float: right;
        }

    img.img-responsive.img-circle.img-thumbnail {
        float: none;
    }

    span.showhide {
        display: block;
        position: relative;
        top: -54px;
        color: #AB1F4D;
        /* background: #AB1F4D; */
        width: 40px;
        height: 38px;
        right: -8px;
        text-align: center;
    }

    .logo {
        margin: 10px 17%;
    }

    #mySidenav a {
        border-bottom: 0px;
    }

    .sidenav {
        display: block;
    }
    .btn-group-lg > .btn, .btn-lg {

        font-size: 14px;
    }
      .footer{
        background: linear-gradient(to bottom, #A21E47 , #F28B2E);
    }

      .img-box p{
          width:100%;
      }
}


@media screen and (max-width:800px) {
    .white-box {
        width: 100%;
    }

    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 9px 1px;
        text-decoration: none;
        font-size: 19px;
        margin: 0px 6px;
        font-weight: 300;
    }

    span.showhide {
        display: block;
        position: relative;
        top: -54px;
        color: #AB1F4D;
        /* background: #AB1F4D; */
        width: 40px;
        height: 38px;
        right: -8px;
        text-align: center;
    }

    .logo {
        margin: 10px 17%;
    }

    #mySidenav a {
        border-bottom: 0px;
    }

    .sidenav {
        display: block;
    }
}


@media only screen and (max-width: 1290px) and (min-width: 1100px) {
    .topheader {
        margin-top: 10px;
        margin-left: -4%;
        margin-right: -3%;
    }

    form {
        width: 53%;
    }
}
.sub-menu
{
position: absolute;
display: none;
z-index: 1;
box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
.container
{
    width: auto !important; 
}
