﻿

@font-face {
    font-family: 'ROBOTO-MEDIUM';
    src: url('../fonts/ROBOTO-MEDIUM.TTF') format('truetype');
}

@font-face {
    font-family: 'INTRO-BOLD-ALT';
    src: url('../fonts/INTRO-BOLD-ALT.OTF') format('opentype');
}

@font-face {
    font-family: 'INTRO-BOOK';
    src: url('../fonts/INTRO-BOOK.OTF') format('opentype'),url('../fonts/Intro-Book.eot') format('embedded-opentype');
}


@font-face {
    font-family: 'INTRO-LIGHT';
    src: url('../fonts/INTRO-LIGHT.OTF') format('opentype');
     src: url('../fonts/Intro-Light.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'INTRO COND BLACK FREE';
    src: url('../fonts/INTRO COND BLACK FREE.OTF') format('opentype');
}

@font-face {
    font-family: 'INTRO_0';
    src: url('../fonts/INTRO_0.OTF') format('opentype');
        src: url('../fonts/Intro.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'INTROREGULAR';
    src: url('../fonts/INTROREGULAR.TTF') format('truetype'),url('../fonts/INTROREGULAR.TTF.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'INTROSEMIBOLDALT';
    src: url('../fonts/INTROSEMIBOLDALT.TTF') format('truetype');
      src: url('../fonts/INTROSEMIBOLDALT.TTF.eot') format('embedded-opentype');
}


body {
    margin: 0px;
    padding: 0px;
    font-family: 'INTROREGULAR';
    font-size: 16px;
}

a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
}

ul, li {
    list-style-type: none;
}

p, h1, h2, h3, h4, h5, h6 {
    text-align: justify;
}

.reg {
    float: right;
  margin-top: 4%;
}
h4.padding50{
    padding-left: 50px;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
}
/*.topnav {
    overflow: hidden;
    border-radius: 35px;
    background-color: #258d9b;
    padding: 0px 30px;
    margin-top: 3%;
}

    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 8px 16px;
        text-decoration: none;
        font-size: 19px;
        margin: 0px 35px;
        font-weight: 300;
    }


        .topnav a:active, .topnav a:focus, .topnav a:hover {
            color: #f89723;
        }*/



/********************************************navbar styles*********************************************/
ul.nav-dropdown li {
    padding: 0px;
}

ul.section li a {
    font-size: 20px;
}

.nav-container {
    max-width: 1000px;
    margin: 0 auto;
}

nav {
    float: right;
    margin: 35px 0px;
    background: #348d95;
    border-radius: 55px;
}

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        nav ul li {
            float: left;
            position: relative;
            padding: 9px 40px;
        }

            nav ul li a,
            nav ul li a:visited {
                display: block;
                padding: 0 13px;
                background: #348d95;
                color: #ffffff;
                text-decoration: none;
                font-size: 19px;
                font-family: 'INTROREGULAR';
            }

                nav ul li a:hover,
                nav ul li a:visited:hover {
                    color: #F48D2F;
                }

                nav ul li a:not(:only-child):after,
                nav ul li a:visited:not(:only-child):after {
                    padding-left: 4px;
                    content: ' ▾';
                }

            nav ul li ul li {
                min-width: 190px;
            }

                nav ul li ul li a {
                    padding: 15px;
                    line-height: 20px;
                }

.nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #348d95;
    height: 50px;
    width: 50px;
}

@media only screen and (max-width: 798px) {
    /*
      .nav-mobile {
       display: block;
    position: absolute;
    top: 0;
        right: -181px;
  }
  .reg {
    float: right;
    /* margin-top: 5%; 
    position: relative;
    top: -45px;
    right: -105px;
}
  nav {
    width: 100%;
       padding: 0px 0 0px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }
  */
}
/*
    @media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
    position: absolute;
    left: 7px;
    top: 10px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}
ul.nav-dropdown li {
    padding: 0px;
}
*/



/********************************************navbar styles*********************************************/

.active {
    color: white;
}

.topnav .icon {
    display: none;
}

.topheader {
  /*margin-top: 10px;*/
}

.logo {
    margin-top: 10px;
}

ul.reg li a {
    margin: 5px;
    color: #258d9b;
    font-size: 14px;
}

.carousel {
    z-index: 1;
}

.header {
    z-index: 100000000;
    position: absolute;
    top: 0px;
}

.headline {
    margin-right: auto;
    margin-left: auto;
    background: linear-gradient(to right, #33959f, #add2b7);
    padding: 12px 0px;
}

    .headline h3 {
        font-size: 36px;
        color: #fff;
            margin-left: 15px;
    }

    .headline p {
        font-size: 20px;
        color: #fff;
            margin-left: 15px;
    }

.org {
    color: #f47b20;
}

.sidenav1 a {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    color: #333333;
    border-bottom: 2px solid #3b6676;
    padding: 7px 15px;
    font-weight: 300;
}

.contents {
    margin-top: 3%;
    background-image: url(../img/des.png);
    background-repeat: no-repeat;
    background-size: 39% 30%;
    background-position: left bottom;
}

.head-side {
    background: #33959f;
    border-radius: 34px;
    padding: 1px 11px;
}

    .head-side p {
        color: #fff;
        padding: 0px 10px;
        margin-top: 6px;
        font-size: 18px;
    }

.sidenav1 a:hover {
    color: #f47b20;
}

a.active {
    color: #f47b20 !important;
}

.right-contents p {
    font-size: 14px;
}

    .right-contents p span {
        font-size: 14px;
        font-weight: 600;
        display: inline-block;
        width: 100%;
        margin: 1px 0px;
        color: #000;
    }

.right-contents {
    /*  margin-top: 12px;*/
}

.price {
    background: url(../img/fade1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #fff;
    padding: 3% 4%;
}

    .price p.time {
        font-size: 14px;
        float: right;
    }

.topnav .dropdown, .topnav .dropup {
    position: relative;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 19px;
    /* margin: 0px 35px; */
    font-weight: 300;
}

.price h3 {
    font-size: 30px;
}

.price p {
    font-size: 30px;
    font-weight: 300;
}

    .price p i {
        color: #f47b20;
        font-weight: 400;
        font-style: normal;
    }

/*************gallery**************/
*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
}

.gallery {
    position: relative;
    z-index: 2;
}

    .gallery.pop {
        -webkit-filter: blur(10px);
        filter: blur(10px);
    }

    .gallery figure {
        flex-basis: 33.333%;
        cursor: pointer;
        margin: 6px 0px;
    }

        .gallery figure img {
            width: 100%;
            -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
        }

        .gallery figure figcaption {
            display: none;
        }

.popup {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out .2s;
    transition: opacity .5s ease-in-out .2s;
}

    .popup.pop {
        opacity: 1;
        -webkit-transition: opacity .2s ease-in-out 0s;
        transition: opacity .2s ease-in-out 0s;
    }

        .popup.pop figure {
            margin-top: 0;
            opacity: 1;
        }

    .popup figure {
        position: absolute;
        top: 50%;
        left: 60%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        margin-top: 30px;
        opacity: 0;
        -webkit-animation: poppy 500ms linear both;
        animation: poppy 500ms linear both;
    }

        .popup figure img {
            position: relative;
            z-index: 2;
            border-radius: 15px;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 6px 30px rgba(0, 0, 0, 0.4);
        }

        .popup figure figcaption {
            position: absolute;
            bottom: 50px;
            background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.78));
            background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.78));
            z-index: 2;
            width: 100%;
            border-radius: 0 0 15px 15px;
            padding: 100px 20px 20px 20px;
            color: #fff;
            font-family: 'INTROREGULAR', sans-serif;
            font-size: 32px;
        }

            .popup figure figcaption small {
                font-size: 11px;
                display: block;
                text-transform: uppercase;
                margin-top: 12px;
                text-indent: 3px;
                opacity: .7;
                letter-spacing: 1px;
            }

        .popup figure .shadow {
            position: relative;
            z-index: 1;
            top: -15px;
            margin: 0 auto;
            background-position: center bottom;
            background-repeat: no-repeat;
            width: 98%;
            height: 50px;
            opacity: .6;
            -webkit-filter: blur(15px) contrast(2);
            filter: blur(15px) contrast(2);
        }

    .popup .close {
        position: absolute;
        z-index: 3;
        top: 10px;
        right: 10px;
        width: 25px;
        height: 25px;
        cursor: pointer;
        background: url(#close);
        border-radius: 25px;
        background: rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    }

        .popup .close svg {
            width: 100%;
            height: 100%;
        }


@-webkit-keyframes poppy {
    0% {
        -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    3.4% {
        -webkit-transform: matrix3d(0.316, 0, 0, 0, 0, 0.407, 0, 0, 0, 0, 1, 0, -94.672, -91.573, 0, 1);
        transform: matrix3d(0.316, 0, 0, 0, 0, 0.407, 0, 0, 0, 0, 1, 0, -94.672, -91.573, 0, 1);
    }

    4.3% {
        -webkit-transform: matrix3d(0.408, 0, 0, 0, 0, 0.54, 0, 0, 0, 0, 1, 0, -122.527, -121.509, 0, 1);
        transform: matrix3d(0.408, 0, 0, 0, 0, 0.54, 0, 0, 0, 0, 1, 0, -122.527, -121.509, 0, 1);
    }

    4.7% {
        -webkit-transform: matrix3d(0.45, 0, 0, 0, 0, 0.599, 0, 0, 0, 0, 1, 0, -134.908, -134.843, 0, 1);
        transform: matrix3d(0.45, 0, 0, 0, 0, 0.599, 0, 0, 0, 0, 1, 0, -134.908, -134.843, 0, 1);
    }

    6.81% {
        -webkit-transform: matrix3d(0.659, 0, 0, 0, 0, 0.893, 0, 0, 0, 0, 1, 0, -197.77, -200.879, 0, 1);
        transform: matrix3d(0.659, 0, 0, 0, 0, 0.893, 0, 0, 0, 0, 1, 0, -197.77, -200.879, 0, 1);
    }

    8.61% {
        -webkit-transform: matrix3d(0.82, 0, 0, 0, 0, 1.097, 0, 0, 0, 0, 1, 0, -245.972, -246.757, 0, 1);
        transform: matrix3d(0.82, 0, 0, 0, 0, 1.097, 0, 0, 0, 0, 1, 0, -245.972, -246.757, 0, 1);
    }

    9.41% {
        -webkit-transform: matrix3d(0.883, 0, 0, 0, 0, 1.168, 0, 0, 0, 0, 1, 0, -265.038, -262.804, 0, 1);
        transform: matrix3d(0.883, 0, 0, 0, 0, 1.168, 0, 0, 0, 0, 1, 0, -265.038, -262.804, 0, 1);
    }

    10.21% {
        -webkit-transform: matrix3d(0.942, 0, 0, 0, 0, 1.226, 0, 0, 0, 0, 1, 0, -282.462, -275.93, 0, 1);
        transform: matrix3d(0.942, 0, 0, 0, 0, 1.226, 0, 0, 0, 0, 1, 0, -282.462, -275.93, 0, 1);
    }

    12.91% {
        -webkit-transform: matrix3d(1.094, 0, 0, 0, 0, 1.328, 0, 0, 0, 0, 1, 0, -328.332, -298.813, 0, 1);
        transform: matrix3d(1.094, 0, 0, 0, 0, 1.328, 0, 0, 0, 0, 1, 0, -328.332, -298.813, 0, 1);
    }

    13.61% {
        -webkit-transform: matrix3d(1.123, 0, 0, 0, 0, 1.332, 0, 0, 0, 0, 1, 0, -336.934, -299.783, 0, 1);
        transform: matrix3d(1.123, 0, 0, 0, 0, 1.332, 0, 0, 0, 0, 1, 0, -336.934, -299.783, 0, 1);
    }

    14.11% {
        -webkit-transform: matrix3d(1.141, 0, 0, 0, 0, 1.331, 0, 0, 0, 0, 1, 0, -342.273, -299.395, 0, 1);
        transform: matrix3d(1.141, 0, 0, 0, 0, 1.331, 0, 0, 0, 0, 1, 0, -342.273, -299.395, 0, 1);
    }

    17.22% {
        -webkit-transform: matrix3d(1.205, 0, 0, 0, 0, 1.252, 0, 0, 0, 0, 1, 0, -361.606, -281.592, 0, 1);
        transform: matrix3d(1.205, 0, 0, 0, 0, 1.252, 0, 0, 0, 0, 1, 0, -361.606, -281.592, 0, 1);
    }

    17.52% {
        -webkit-transform: matrix3d(1.208, 0, 0, 0, 0, 1.239, 0, 0, 0, 0, 1, 0, -362.348, -278.88, 0, 1);
        transform: matrix3d(1.208, 0, 0, 0, 0, 1.239, 0, 0, 0, 0, 1, 0, -362.348, -278.88, 0, 1);
    }

    18.72% {
        -webkit-transform: matrix3d(1.212, 0, 0, 0, 0, 1.187, 0, 0, 0, 0, 1, 0, -363.633, -267.15, 0, 1);
        transform: matrix3d(1.212, 0, 0, 0, 0, 1.187, 0, 0, 0, 0, 1, 0, -363.633, -267.15, 0, 1);
    }

    21.32% {
        -webkit-transform: matrix3d(1.196, 0, 0, 0, 0, 1.069, 0, 0, 0, 0, 1, 0, -358.864, -240.617, 0, 1);
        transform: matrix3d(1.196, 0, 0, 0, 0, 1.069, 0, 0, 0, 0, 1, 0, -358.864, -240.617, 0, 1);
    }

    24.32% {
        -webkit-transform: matrix3d(1.151, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, -345.164, -216.073, 0, 1);
        transform: matrix3d(1.151, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, -345.164, -216.073, 0, 1);
    }

    25.23% {
        -webkit-transform: matrix3d(1.134, 0, 0, 0, 0, 0.938, 0, 0, 0, 0, 1, 0, -340.193, -210.948, 0, 1);
        transform: matrix3d(1.134, 0, 0, 0, 0, 0.938, 0, 0, 0, 0, 1, 0, -340.193, -210.948, 0, 1);
    }

    28.33% {
        -webkit-transform: matrix3d(1.075, 0, 0, 0, 0, 0.898, 0, 0, 0, 0, 1, 0, -322.647, -202.048, 0, 1);
        transform: matrix3d(1.075, 0, 0, 0, 0, 0.898, 0, 0, 0, 0, 1, 0, -322.647, -202.048, 0, 1);
    }

    29.03% {
        -webkit-transform: matrix3d(1.063, 0, 0, 0, 0, 0.897, 0, 0, 0, 0, 1, 0, -318.884, -201.771, 0, 1);
        transform: matrix3d(1.063, 0, 0, 0, 0, 0.897, 0, 0, 0, 0, 1, 0, -318.884, -201.771, 0, 1);
    }

    29.93% {
        -webkit-transform: matrix3d(1.048, 0, 0, 0, 0, 0.899, 0, 0, 0, 0, 1, 0, -314.277, -202.202, 0, 1);
        transform: matrix3d(1.048, 0, 0, 0, 0, 0.899, 0, 0, 0, 0, 1, 0, -314.277, -202.202, 0, 1);
    }

    35.54% {
        -webkit-transform: matrix3d(0.979, 0, 0, 0, 0, 0.962, 0, 0, 0, 0, 1, 0, -293.828, -216.499, 0, 1);
        transform: matrix3d(0.979, 0, 0, 0, 0, 0.962, 0, 0, 0, 0, 1, 0, -293.828, -216.499, 0, 1);
    }

    36.74% {
        -webkit-transform: matrix3d(0.972, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, -291.489, -220.242, 0, 1);
        transform: matrix3d(0.972, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, -291.489, -220.242, 0, 1);
    }

    39.44% {
        -webkit-transform: matrix3d(0.962, 0, 0, 0, 0, 1.01, 0, 0, 0, 0, 1, 0, -288.62, -227.228, 0, 1);
        transform: matrix3d(0.962, 0, 0, 0, 0, 1.01, 0, 0, 0, 0, 1, 0, -288.62, -227.228, 0, 1);
    }

    41.04% {
        -webkit-transform: matrix3d(0.961, 0, 0, 0, 0, 1.022, 0, 0, 0, 0, 1, 0, -288.247, -229.999, 0, 1);
        transform: matrix3d(0.961, 0, 0, 0, 0, 1.022, 0, 0, 0, 0, 1, 0, -288.247, -229.999, 0, 1);
    }

    44.44% {
        -webkit-transform: matrix3d(0.966, 0, 0, 0, 0, 1.032, 0, 0, 0, 0, 1, 0, -289.763, -232.215, 0, 1);
        transform: matrix3d(0.966, 0, 0, 0, 0, 1.032, 0, 0, 0, 0, 1, 0, -289.763, -232.215, 0, 1);
    }

    52.15% {
        -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, -297.363, -226.449, 0, 1);
        transform: matrix3d(0.991, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, -297.363, -226.449, 0, 1);
    }

    59.86% {
        -webkit-transform: matrix3d(1.006, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, -301.813, -222.759, 0, 1);
        transform: matrix3d(1.006, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, -301.813, -222.759, 0, 1);
    }

    61.66% {
        -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, -302.102, -222.926, 0, 1);
        transform: matrix3d(1.007, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, -302.102, -222.926, 0, 1);
    }

    63.26% {
        -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 0.992, 0, 0, 0, 0, 1, 0, -302.171, -223.276, 0, 1);
        transform: matrix3d(1.007, 0, 0, 0, 0, 0.992, 0, 0, 0, 0, 1, 0, -302.171, -223.276, 0, 1);
    }

    75.28% {
        -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, -300.341, -225.696, 0, 1);
        transform: matrix3d(1.001, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, -300.341, -225.696, 0, 1);
    }

    83.98% {
        -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -299.61, -225.049, 0, 1);
        transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -299.61, -225.049, 0, 1);
    }

    85.49% {
        -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -299.599, -224.94, 0, 1);
        transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -299.599, -224.94, 0, 1);
    }

    90.69% {
        -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, -299.705, -224.784, 0, 1);
        transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, -299.705, -224.784, 0, 1);
    }

    100% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, -225, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, -225, 0, 1);
    }
}

@keyframes poppy {
    0% {
        -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    3.4% {
        -webkit-transform: matrix3d(0.316, 0, 0, 0, 0, 0.407, 0, 0, 0, 0, 1, 0, -94.672, -91.573, 0, 1);
        transform: matrix3d(0.316, 0, 0, 0, 0, 0.407, 0, 0, 0, 0, 1, 0, -94.672, -91.573, 0, 1);
    }

    4.3% {
        -webkit-transform: matrix3d(0.408, 0, 0, 0, 0, 0.54, 0, 0, 0, 0, 1, 0, -122.527, -121.509, 0, 1);
        transform: matrix3d(0.408, 0, 0, 0, 0, 0.54, 0, 0, 0, 0, 1, 0, -122.527, -121.509, 0, 1);
    }

    4.7% {
        -webkit-transform: matrix3d(0.45, 0, 0, 0, 0, 0.599, 0, 0, 0, 0, 1, 0, -134.908, -134.843, 0, 1);
        transform: matrix3d(0.45, 0, 0, 0, 0, 0.599, 0, 0, 0, 0, 1, 0, -134.908, -134.843, 0, 1);
    }

    6.81% {
        -webkit-transform: matrix3d(0.659, 0, 0, 0, 0, 0.893, 0, 0, 0, 0, 1, 0, -197.77, -200.879, 0, 1);
        transform: matrix3d(0.659, 0, 0, 0, 0, 0.893, 0, 0, 0, 0, 1, 0, -197.77, -200.879, 0, 1);
    }

    8.61% {
        -webkit-transform: matrix3d(0.82, 0, 0, 0, 0, 1.097, 0, 0, 0, 0, 1, 0, -245.972, -246.757, 0, 1);
        transform: matrix3d(0.82, 0, 0, 0, 0, 1.097, 0, 0, 0, 0, 1, 0, -245.972, -246.757, 0, 1);
    }

    9.41% {
        -webkit-transform: matrix3d(0.883, 0, 0, 0, 0, 1.168, 0, 0, 0, 0, 1, 0, -265.038, -262.804, 0, 1);
        transform: matrix3d(0.883, 0, 0, 0, 0, 1.168, 0, 0, 0, 0, 1, 0, -265.038, -262.804, 0, 1);
    }

    10.21% {
        -webkit-transform: matrix3d(0.942, 0, 0, 0, 0, 1.226, 0, 0, 0, 0, 1, 0, -282.462, -275.93, 0, 1);
        transform: matrix3d(0.942, 0, 0, 0, 0, 1.226, 0, 0, 0, 0, 1, 0, -282.462, -275.93, 0, 1);
    }

    12.91% {
        -webkit-transform: matrix3d(1.094, 0, 0, 0, 0, 1.328, 0, 0, 0, 0, 1, 0, -328.332, -298.813, 0, 1);
        transform: matrix3d(1.094, 0, 0, 0, 0, 1.328, 0, 0, 0, 0, 1, 0, -328.332, -298.813, 0, 1);
    }

    13.61% {
        -webkit-transform: matrix3d(1.123, 0, 0, 0, 0, 1.332, 0, 0, 0, 0, 1, 0, -336.934, -299.783, 0, 1);
        transform: matrix3d(1.123, 0, 0, 0, 0, 1.332, 0, 0, 0, 0, 1, 0, -336.934, -299.783, 0, 1);
    }

    14.11% {
        -webkit-transform: matrix3d(1.141, 0, 0, 0, 0, 1.331, 0, 0, 0, 0, 1, 0, -342.273, -299.395, 0, 1);
        transform: matrix3d(1.141, 0, 0, 0, 0, 1.331, 0, 0, 0, 0, 1, 0, -342.273, -299.395, 0, 1);
    }

    17.22% {
        -webkit-transform: matrix3d(1.205, 0, 0, 0, 0, 1.252, 0, 0, 0, 0, 1, 0, -361.606, -281.592, 0, 1);
        transform: matrix3d(1.205, 0, 0, 0, 0, 1.252, 0, 0, 0, 0, 1, 0, -361.606, -281.592, 0, 1);
    }

    17.52% {
        -webkit-transform: matrix3d(1.208, 0, 0, 0, 0, 1.239, 0, 0, 0, 0, 1, 0, -362.348, -278.88, 0, 1);
        transform: matrix3d(1.208, 0, 0, 0, 0, 1.239, 0, 0, 0, 0, 1, 0, -362.348, -278.88, 0, 1);
    }

    18.72% {
        -webkit-transform: matrix3d(1.212, 0, 0, 0, 0, 1.187, 0, 0, 0, 0, 1, 0, -363.633, -267.15, 0, 1);
        transform: matrix3d(1.212, 0, 0, 0, 0, 1.187, 0, 0, 0, 0, 1, 0, -363.633, -267.15, 0, 1);
    }

    21.32% {
        -webkit-transform: matrix3d(1.196, 0, 0, 0, 0, 1.069, 0, 0, 0, 0, 1, 0, -358.864, -240.617, 0, 1);
        transform: matrix3d(1.196, 0, 0, 0, 0, 1.069, 0, 0, 0, 0, 1, 0, -358.864, -240.617, 0, 1);
    }

    24.32% {
        -webkit-transform: matrix3d(1.151, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, -345.164, -216.073, 0, 1);
        transform: matrix3d(1.151, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, -345.164, -216.073, 0, 1);
    }

    25.23% {
        -webkit-transform: matrix3d(1.134, 0, 0, 0, 0, 0.938, 0, 0, 0, 0, 1, 0, -340.193, -210.948, 0, 1);
        transform: matrix3d(1.134, 0, 0, 0, 0, 0.938, 0, 0, 0, 0, 1, 0, -340.193, -210.948, 0, 1);
    }

    28.33% {
        -webkit-transform: matrix3d(1.075, 0, 0, 0, 0, 0.898, 0, 0, 0, 0, 1, 0, -322.647, -202.048, 0, 1);
        transform: matrix3d(1.075, 0, 0, 0, 0, 0.898, 0, 0, 0, 0, 1, 0, -322.647, -202.048, 0, 1);
    }

    29.03% {
        -webkit-transform: matrix3d(1.063, 0, 0, 0, 0, 0.897, 0, 0, 0, 0, 1, 0, -318.884, -201.771, 0, 1);
        transform: matrix3d(1.063, 0, 0, 0, 0, 0.897, 0, 0, 0, 0, 1, 0, -318.884, -201.771, 0, 1);
    }

    29.93% {
        -webkit-transform: matrix3d(1.048, 0, 0, 0, 0, 0.899, 0, 0, 0, 0, 1, 0, -314.277, -202.202, 0, 1);
        transform: matrix3d(1.048, 0, 0, 0, 0, 0.899, 0, 0, 0, 0, 1, 0, -314.277, -202.202, 0, 1);
    }

    35.54% {
        -webkit-transform: matrix3d(0.979, 0, 0, 0, 0, 0.962, 0, 0, 0, 0, 1, 0, -293.828, -216.499, 0, 1);
        transform: matrix3d(0.979, 0, 0, 0, 0, 0.962, 0, 0, 0, 0, 1, 0, -293.828, -216.499, 0, 1);
    }

    36.74% {
        -webkit-transform: matrix3d(0.972, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, -291.489, -220.242, 0, 1);
        transform: matrix3d(0.972, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, -291.489, -220.242, 0, 1);
    }

    39.44% {
        -webkit-transform: matrix3d(0.962, 0, 0, 0, 0, 1.01, 0, 0, 0, 0, 1, 0, -288.62, -227.228, 0, 1);
        transform: matrix3d(0.962, 0, 0, 0, 0, 1.01, 0, 0, 0, 0, 1, 0, -288.62, -227.228, 0, 1);
    }

    41.04% {
        -webkit-transform: matrix3d(0.961, 0, 0, 0, 0, 1.022, 0, 0, 0, 0, 1, 0, -288.247, -229.999, 0, 1);
        transform: matrix3d(0.961, 0, 0, 0, 0, 1.022, 0, 0, 0, 0, 1, 0, -288.247, -229.999, 0, 1);
    }

    44.44% {
        -webkit-transform: matrix3d(0.966, 0, 0, 0, 0, 1.032, 0, 0, 0, 0, 1, 0, -289.763, -232.215, 0, 1);
        transform: matrix3d(0.966, 0, 0, 0, 0, 1.032, 0, 0, 0, 0, 1, 0, -289.763, -232.215, 0, 1);
    }

    52.15% {
        -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, -297.363, -226.449, 0, 1);
        transform: matrix3d(0.991, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, -297.363, -226.449, 0, 1);
    }

    59.86% {
        -webkit-transform: matrix3d(1.006, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, -301.813, -222.759, 0, 1);
        transform: matrix3d(1.006, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, -301.813, -222.759, 0, 1);
    }

    61.66% {
        -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, -302.102, -222.926, 0, 1);
        transform: matrix3d(1.007, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, -302.102, -222.926, 0, 1);
    }

    63.26% {
        -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 0.992, 0, 0, 0, 0, 1, 0, -302.171, -223.276, 0, 1);
        transform: matrix3d(1.007, 0, 0, 0, 0, 0.992, 0, 0, 0, 0, 1, 0, -302.171, -223.276, 0, 1);
    }

    75.28% {
        -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, -300.341, -225.696, 0, 1);
        transform: matrix3d(1.001, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, -300.341, -225.696, 0, 1);
    }

    83.98% {
        -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -299.61, -225.049, 0, 1);
        transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -299.61, -225.049, 0, 1);
    }

    85.49% {
        -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -299.599, -224.94, 0, 1);
        transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -299.599, -224.94, 0, 1);
    }

    90.69% {
        -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, -299.705, -224.784, 0, 1);
        transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, -299.705, -224.784, 0, 1);
    }

    100% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, -225, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, -225, 0, 1);
    }
}

.load {
    text-align: center;
    margin-top: 10px;
}

    .load a {
        text-align: center;
        color: #fff;
        background: #33959f;
        padding: 4px 9px;
        font-size: 19px;
        font-weight: 300;
    }

        .load a:hover {
            background: #f47b20;
        }

.contactbx h3 {
    font-weight: 400;
}

.contactbx p span {
    font-weight: 400;
    color: #f47b20;
}

.contactbx p, .contactbx p span {
    font-size: 17px;
}

/************************gallery end**************/

.contactbx {
    background: linear-gradient(to right, #33959f, #add2b7);
    color: #fff;
    padding: 1px 16px;
}

/***********************footer*************************************/

/*****************events***********************/
.left-event {
    border: 1px solid #248d9b;
    padding: 10px;
}

    .left-event h3 {
        background: #248d9b;
        text-align: center;
        margin-right: -10px;
        margin-left: -10px;
        padding: 10px 0px;
        position: relative;
        top: -30px;
        color: #fff;
        font-family: INTROREGULAR;
        font-size: 22pt;
    }

    .left-event p {
        color: #666666;
        font-size: 12pt;
    }

    .left-event ul li {
        list-style-image: url("../img/bp.png");
    }
/*.left-event ul li:last-child {
    list-style-image: url("../img/bp.png");
}*/

.events h4 {
    font-family: INTROREGULAR;
    font-size: 16pt;
    font-weight: 600;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100000000000000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 56%;
}

.modal-center img {
    text-align: center;
}

.modal-center h5 {
    color: #248d9b;
    font-size: 18pt;
}

.modal-center {
    padding: 15px 15px;
}
/* The Close Button */
.close {
    color: #fff;
    float: right;
    font-size: 45px;
    font-weight: bold;
}

button#myBtn {
    display: none;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

a.book {
    background: #258d9b;
    color: #fff;
    padding: 8px 10px;
    font-size: 18px;
    /* margin-top: 25px; */
}

    a.book:hover {
        background: #FC9C24;
    }
/******************events end *************************/
.footer ul li {
    DISPLAY: inline-block;
    float: left;
}

.footer {
    background: url(../img/footer.png) no-repeat;
    padding: 30px;
    background-position: center center;
    background-size: cover;
}

ul.socialmedia a {
    margin: 8px;
    font-size: 20px;
}

ul.infoo li {
    /* margin: 1px 5px; */
    border-right: 1px solid;
    padding: 0px 10px;
    color: #fff;
    position: relative;
    right: 51px;
}

    ul.infoo li:last-child {
        border-right: 0px;
    }

ul.infoo a {
    color: #fff;
}

    ul.infoo a:hover {
        color: #f47b20;
    }

.fa {
    padding: 7px 8px;
    font-size: 21px;
    width: 33px;
    text-align: center;
    text-decoration: none;
    /* margin: 5px 2px; */
    border-radius: 44px;
}



.fa-facebook {
    background: #a0a0a0;
    color: white;
}

    .fa-facebook:hover {
        background: #3B5998;
        color: white;
    }

.fa-twitter {
    background: #a0a0a0;
    color: white;
}

    .fa-twitter:hover {
        background: #55ACEE;
        color: white;
    }

.fa-linkedin {
    background: #a0a0a0;
    color: white;
}

    .fa-linkedin:hover {
        background: #007bb5;
        color: white;
    }

.fa-youtube {
    background: #a0a0a0;
    color: white;
}

    .fa-youtube:hover {
        background: #bb0000;
        color: white;
    }

.fa-instagram {
    background: #a0a0a0;
    color: white;
}

    .fa-instagram:hover {
        background: #BB367A;
        color: white;
    }

button.dropdown-btn {
    background: transparent;
    border: 0px;
    text-align: left;
    display: inline-block;
    width: 100%;
    font-size: 18px;
    color: #333333;
    border-bottom: 2px solid #3b6676;
    padding: 7px 15px;
    font-weight: 300;
    outline: 0px;
}

    button.dropdown-btn:focus {
        outline: 0px;
    }

.chat {
    position: -webkit-sticky;
    position: sticky;
    top: 297px;
    position: fixed;
    right: 0px;
}

.center {
    text-align: center;
    margin-top: 11px;
}

    .center p {
        color: #fff;
        font-size: 27px;
    }

ul.infoo {
    display: inline-block;
    /* width: 100%; */
}

ul.socialmedia {
    float: right;
    /* vertical-align: middle; */
    /* height: 57px; */
    /* display: inline-block; */
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%,50%);
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    color: #68afa8;
    border: 1px solid #68afa8;
}

button.send {
    width: 100%;
    padding: 8px;
    margin: 20px 0px;
    background: linear-gradient(to right, #33959f, #add2b7);
    color: #fff;
}

.address i {
    color: #33959f;
}

.contacts {
    font-size: 19px;
}

h4 {
    font-family: "INTROSEMIBOLDALT";
    font-size: 23px;
}

.pricebox {
    background: linear-gradient(to right, #33959f, #add2b7);
    padding: 30px 0px;
}

.white-box {
    background: #fff;
    padding: 15px 0px;
    text-align: center;
    box-shadow: 6px 3px 23px #333333;
    height: 308px;
    /* width: 115%; 
    margin: 0px 24px;
    width: 80%;*/
}


span.bold {
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    width: 100%;
    margin: 10px 0px;
}

.right1 {
    float: right;
    position: absolute;
    right: 10px;
    top: 10px;
}

.left1 {
    float: left;
    color: #fff;
    margin: 0px 15px;
}

.modal-head {
    display: inline-block;
    width: 100%;
    background: #248d9b;
}

.modal-center p {
    font-weight: 600;
}

span i {
    font-size: 22px;
    font-weight: bold;
}

p.bold {
    font-size: 14px;
    font-weight: 600;
    margin: 10px 0px;
}

    p.bold span {
        display: contents;
        color: #f79723;
    }

.dropdown-container a {
    /* margin: 0px 20px; */
    padding: 6px 30px;
    font-size: 16px;
}

i.fa.fa-caret-down {
    float: right;
}

p.orgprice {
    background: #f79723;
    padding: 10px;
    color: #fff;
    font-size: 8pt !important;
    /* font-weight: 900 !important; */
}

    p.orgprice span {
        font-size: 8pt;
        color: #fff;
        font-weight: 500;
    }

.white-box p {
    font-size: 12pt;
    font-weight: 600;
    height: 50px;
    text-align: center;
}

.white-box img {
    /* width: 90%;*/
}

.white-box:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
/*********shaaab********************/

/*.box1 {
    background-image: url(../img/s1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 200px;
    width: auto;
}
.box2 {
    background-image: url(../img/s8.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 200px;
    width: auto;
}
.box3 {
    background-image: url(../img/s2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 200px;
    width: auto;
}
.box4 {
    background-image: url(../img/s4.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 200px;
    width: auto;
}
.box5 {
    background-image: url(../img/s3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 200px;
    width: auto;
}
.box6 {
    background-image: url(../img/s5.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 200px;
    width: auto;
}

.box7 {
    background-image: url(../img/s6.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 200px;
    width: auto;
}
.box8 {
    background-image: url(../img/s7.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 200px;
    width: auto;
}
.box9 {
    background-image: url(../img/s8.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 200px;
    width: auto;
}
.b{
    height: 200px;
    width: auto;
}
.box1.b {
    text-align: center;
}
.b a {
    position: absolute;
    bottom: 40px;
    right: 89px;
    color: #fff;
    background: linear-gradient(to right, #33959f, #add2b7);
    padding: 0px 17px;
    border-radius: 13px;
}
.b a:hover {
    color:#f47b20;
}
p.topic {
    text-align: center;
}
.b:hover{
   background-image: url(../img/hv.png);

}
p.hide-t {
    position: absolute;
    top: 0px;
    text-align: center;
    color: #fff;
    visibility:hidden;
        width: 90%;
            font-size: 14px;

}
*/
.b a {
    position: absolute;
    bottom: 17px;
    right: 75px;
    color: #fff;
    background: #348D95;
    padding: 0px 17px;
    border-radius: 13px;
}
.booking-b img {
    width: 370px;
    height: auto;
}
.booking-b p {
    border: 1px solid #000;
    padding: 20px;
    width: 370px;
    margin:0px;
}
.book-button {
    background: #2f8994;
    width: 370px;
        text-align: center;
    padding: 10px 0px;
}
.book-button a:hover{
    color:#F48D2F;
}
.book-button a {
    color: #fff;
    /* text-align: center; */
}
.table > thead > tr > th {
    border-bottom: 1px solid #000;
}

.topnav button.dropdown-btn {
    width: auto;
    border-bottom: 0px;
    color: #fff;
}

.b a:hover {
    color: #f47b20;
}

.b {
    position: relative;
}

p.text span {
    color: #fff;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: #33959f;
}

.b:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
    line-height: 23px;
}

p.topic {
    font-size: 19px;
    font-family: "INTROSEMIBOLDALT";
    text-align: center;
}


/*********kuwat towers******************/

.banner-text {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 0px 15px;
    background: rgba(0,0,0,0.4);
}

.tp p.topic {
    color: #fff;
    position: relative;
    top: -75px;
}

.tp {
    text-align: center;
}

table.table {
    border: 1px solid;
    text-align: center;
}

th {
    text-align: center;
    border: 1px solid;
}

td {
    border: 1px solid;
}

/***********sidenave****************/

span.showhide {
    display: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ab1f4d;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: none;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: #fff;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #F69340;
        }


    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

.register {
    border-top: 1px solid #fff;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}



.header {
    height: 150px;
    margin: 0 0 0 85px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
}

.nav-up {
    top: -150px;
}

.s {
    position: relative;
    margin: 14px 0px;
}
.s a{
    position: absolute;
    bottom: 17px;
    right: 35%;
    color: #fff;
    
    padding: 3px 20px;
    border-radius: 13px;
}
/***************************************media**********************************************************/
@media screen and (max-width:767px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

        .topnav.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }

    .price {
        padding: 7% 4%;
    }

    .topnav {
        overflow: hidden;
        border-radius: 0px;
        background-color: #258d9b;
        padding: 0px 0px;
        margin-top: 7%;
        width: 126%;
    }

    .headline {
        margin-right: auto;
        margin-left: auto;
        background: linear-gradient(to right, #33959f, #add2b7);
        padding: 12px 0px;
    }

    .white-box {
        width: 100%;
    }

    span.showhide {
        display: block;
        position: relative;
        top: -54px;
        color: #34959D;
        /* background: #AB1F4D; */
        width: 40px;
        height: 38px;
        right: 0px;
        text-align: center;
    }

    .logo {
        margin: 10px 17%;
    }

    #mySidenav a {
        border-bottom: 0px;
    }

    .reg {
        display: none;
    }

    .sidenav {
        background: #34959d;
        display: block;
    }

    nav {
        display: none;
    }

    .footer {
        background: linear-gradient(to bottom,#348D96, #A5CDB0);
    }

    .booking-b img {
    width: 331px;
}
    .booking-b p{
         width: 331px;
    }
    .book-button{
         width: 331px;
    }
}


@media screen and (max-width:800px) {
    .white-box {
        width: 100%;
    }

    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 9px 1px;
        text-decoration: none;
        font-size: 19px;
        margin: 0px 6px;
        font-weight: 300;
    }

    span.showhide {
        display: block;
        position: relative;
        top: -54px;
        color: #34959D;
        /* background: #AB1F4D; */
        width: 40px;
        height: 38px;
        right: 0px;
        text-align: center;
    }

    .logo {
        margin: 10px 17%;
    }

    #mySidenav a {
        border-bottom: 0px;
    }

    .topnav {
        overflow: hidden;
        border-radius: 0px;
        background-color: #258d9b;
        padding: 0px 0px;
        margin-top: 7%;
        width: 126%;
        display: none;
    }

    .reg {
        display: none;
    }

    .sidenav {
        background: #34959d;
        display: block;
    }

    nav {
        display: none;
    }
}
